.join{
    margin: 50px;
    padding: 60px;
    width: 500px;
    font-size: 80px;
    color: black;
    margin-left: 120px;
}

.login{
    margin: 50px;
    padding: 60px;
    width: 500px;
    font-size: 80px;
    color: black;  
}

.btn{
    border-radius: 35px;
}